body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.label-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}
.label-input input {
  padding: 5px 10px;
  border: 1px solid #ccc;
}
.label-input button {
  padding: 8px 14px;
  border: none;
}
.label-input button:first-child{
  background-color: green;
  color: #fff;
}
.label-input button:last-child{
  background-color: red;
  color: #fff;
}
.form-tab {
  background-color: #ffffff;
  display: flex;
  gap: 20px;
  padding: 24px 10px;
}
.form-div {
  padding: 20px 10px;
}
.form-div {
  padding: 33px 10px;
  margin: 20px 10px;
  max-width: 300px;
  margin: 20px auto;
  box-shadow: 5px -7px 5px -4px rgb(0 0 0 / 5%);
}
.heading h2{
  color: #00000091;

}